.myLabel {
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.btn {
    -fx-font-size: 15;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.btn:hover {
    -fx-cursor: hand;
}