.checkGrid {
    -fx-max-width: 390;
    -fx-min-width: 390;
    -fx-max-height: 240;
    -fx-min-height: 240;
}

.myLabel {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-padding: 0 10 0 0;
}

.combo1 {
    -fx-max-width: 55;
    -fx-min-width: 55;
    -fx-max-height: 25;
    -fx-min-height: 25;
}

.combo2 {
    -fx-max-width: 100;
    -fx-min-width: 100;
    -fx-max-height: 25;
    -fx-min-height: 25;
}

.combo3 {
    -fx-max-width: 125;
    -fx-min-width: 125;
    -fx-max-height: 25;
    -fx-min-height: 25;
}

.combo4 {
    -fx-max-width: 90;
    -fx-min-width: 90;
    -fx-max-height: 25;
    -fx-min-height: 25;
}

.mainScene {
    -fx-background-color: rgba(0 ,0 , 0 , 0.7);
    -fx-max-width: 1200;
    -fx-min-width: 1200;
    -fx-max-height: 720;
    -fx-min-height: 720;
}

.mainPrompt {
    -fx-background-color: #cccccc;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.promptLabel {
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-max-width: 390;
    -fx-min-width: 390;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-background-color: #808080;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
    -fx-padding: 0 0 0 10;
}

.buttons {
    -fx-border-radius: 0 0 10 10;
    -fx-background-radius: 0 0 10 10;
    -fx-max-width: 390;
    -fx-min-width: 390;
    -fx-max-height: 30;
    -fx-min-height: 30;
    -fx-background-color: #333333;
    -fx-padding: 0 0 0 200;
    -fx-text-alignment: right;
}

.button {
    -fx-max-width: 70;
    -fx-min-width: 70;
    -fx-max-height: 24;
    -fx-min-height: 24;
    -fx-background-color: rgb(243,92 , 20);
    -fx-text-fill: white;
}