.mainScene {
    -fx-background-color: rgba(0 ,0 , 0 , 0.7);
    -fx-max-width: 1200;
    -fx-min-width: 1200;
    -fx-max-height: 720;
    -fx-min-height: 720;
}

.mainContent {
    -fx-max-width: 525;
    -fx-min-width: 525;
    -fx-max-height: 325;
    -fx-min-height: 325;
    -fx-background-color: #cccccc;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.title {
    -fx-font-size: 35px ;
    -fx-font-family: "Segoe UI Semibold";
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-max-width: 525;
    -fx-min-width: 525;
    -fx-max-height: 50;
    -fx-min-height: 50;
    -fx-background-color: #808080;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.scrollView {
    -fx-max-width: 525;
    -fx-min-width: 525;
    -fx-max-height: 235;
    -fx-min-height: 235;
    -fx-background-color: white;
}

.buttons {
    -fx-border-radius: 0 0 5 5;
    -fx-background-radius: 0 0 5 5;
    -fx-max-width: 525;
    -fx-min-width: 525;
    -fx-max-height: 40;
    -fx-min-height: 40;
    -fx-background-color: #333333;
    -fx-padding: 0 0 0 200;
    -fx-text-alignment: right;
}